/* --------- header setting --------- */
header {
  background: linear-gradient(to right, #4e4997, #744aa0);
  color: white;
  padding: 20px;
}

.icon-heroku img {
  height: 50px;
  width: 70px;
  padding-right: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-header {
  display: flex;
  gap: 10px;
}

/* .ul-navigator {
    visibility: hidden;
} */

.container .navigation-header ul {
  height: 40px;
}

.container .navigation-header ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container .navigation-header a {
  text-decoration: none;
  color: #ffffff85;
  font-weight: 600;
  font-size: 14px;
  transition: 0.15s ease-in-out;
}

.container .navigation-header a:hover {
  color: white;
}

.container .navigation-header {
  display: flex;
  gap: 10px;
}

/* right block */

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.search-form:focus-within {
  outline: none;
  background-color: #fff;
}

.sign-up {
  background-color: #573d82;
  border-radius: 5px;
  padding: 9px;
  transition: 0.2s;
}

.sign-up:hover {
  background-color: #4d3672;
}

.menu-right a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}

.menu-right span {
  color: #ffffff48;
}

.menu-right .log-in {
  color: #ffffff7e;
  transition: 0.2s;
}

.menu-right .log-in:hover {
  color: #ffffff;
}

.menu-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search input {
  background: none;
  border: none;
  outline: none;
  width: 120px;
  padding: 5px;
  font-size: 13px !important;
  transition: 0.5s;
}

.search input:focus {
  width: 150px;
}

.search input:focus::placeholder {
  color: rgb(0, 0, 0);
  width: 145px !important;
}

.search input::placeholder {
  color: white;
}

.search input:focus + .la-search {
  color: gray;
}

/* === banner === */

.banner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner i {
  font-size: 80px;
  color: #ffffff85;
}

.banner h1 {
  font-size: 35px;
  font-weight: 400;
  margin: 20px;
}

.banner h5 {
  color: #ffffff85;
  font-weight: 400;
}

/* --------- main setting --------- */
.main-container-cards {
  padding: 70px;
  display: block;
}

.wrapper {
  max-width: 95%;
}

.category-label {
  display: inline-flex;
  border-bottom: solid 1px #d8dde6;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
  justify-content: space-between;
}

.category-label p {
  display: inline-block;
  font-size: 13px;
}

.category-label h5 {
  display: inline-block;
  font-size: 17px;
  margin-right: 5px;
  margin-bottom: 0;
  font-weight: 400;
}

.search-input::before {
  background-color: tomato;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

.search-input:focus:before {
  opacity: 1;
}

.col-one {
  display: inline-block;
}

.col-one {
  display: inline-block;
}

.label-main {
  color: #9b9fa2;
  font-size: 13px;
  font-weight: 400;
  margin-right: 10px;
  line-height: 34px;
}

.col-two {
  display: flex;
}

#mySelect {
  width: 250px;
  height: 35px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s;

  /* ===Спросить!=== */

  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /*Остальные браузеры */

  background: url("/assets/58942.png") no-repeat right 10px center; /* Путь к изображению и позиционирование */
  background-size: 10px;
  padding-right: 20px;
}

#mySelect option {
  text-align: left;
  padding: 5px 20px;
}

#mySelect:focus {
  outline: none; /* Убираем стандартную рамку фокуса */
  box-shadow: 0 0 5px rgb(128, 128, 128); /* Добавляем тень при активации */
}

/* -----CARDS----- */

.down-cards-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-dowm {
  border: 1px solid #d8dde6;
  margin-bottom: 5px;
  margin-right: 5px;
}

.brand {
  padding: 20px;
  /* padding: 40px 80px; */
}

.brand-author {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px;
  min-height: 24px;
}

.brand-author img {
  max-height: 24px;
  width: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.brand-author h6 {
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div-cards-line {
  height: 1px;
  margin: 20px 0;
  background: linear-gradient(to left, #64438b, #c6ace5);
}

.brand p {
  font-size: 12px;
  color: #4c4c4c;
  margin-bottom: 0;
}

.div-stats {
  padding: 15px 10px;
  margin-top: 90px;
  background: rgba(242, 242, 245, 0.5);
  width: 100%;
}

.div-stats ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.li-cards {
  display: inline-block;
  margin-right: 10px;
  color: #3f3f44;
  font-size: 12px;
  vertical-align: middle;
  line-height: 12px;
}

.stats-icon > i {
  font-size: 12px;
  color: #000000;
  margin-right: 4px;
}

.stats-icon .fa-star {
  font-size: 11px;
  margin-right: 4px;
  color: #000000;
}

.stats-icon .la-code-branch {
  font-size: 14px;
  color: #000000;
  margin-right: 4px;
}

.space-div {
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: 0;
  color: #79589f;
  text-align: right;
  margin-left: 117px;
}
.space-div > i {
  margin: 0;
  font-size: 14px;
}

/* --------- foother setting --------- */
